@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    
}

<hgroup>
    <h1 class="text-danger">Заблокировано.</h1>
    <h2 class="text-danger">Учётная запись заблокирована, Попробуйте войти в систему позже.</h2>
</hgroup>
