@{
    ViewBag.Title = "Подверждение сброса пароля";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль был сброшен. Пожалуйста, @Html.ActionLink("перейдите на эту ссылку, для входа в систему", "Login", "Account", new { returnUrl = "/" }, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
