@{
    ViewBag.Title = "Контактные данные";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ООО Сбербанк-Сервис<br />
    г. Стерлитамак, ул. Артёма, 53б<br />
    <abbr title="Телефон">P:</abbr>
    (3473)29-11-01
</address>

<address>
    
    <strong>Поддержка:</strong>   <a href="mailto:mgburanbaev@sberbank.ru">mgburanbaev@sberbank.ru</a><br />
    
</address>