<div class="modal-header">
    <h3 class="modal-title">Сбросить пароль  пользователя: {{userName}} - ({{fio}})</h3>
</div>
<div class="modal-body">
    <form name="formResetPassword">
        <div class="form-horizontal">
            <input type="hidden" ng-model="formResetPassword.UserId"/>
            <div class="form-group">
                <label class="control-label col-md-4">Ввести пароль</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" ng-model="formResetPassword.Password" required/>
                    <span ng-if="formResetPassword.Password.$error.required">Required</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Повторить...</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" ng-model="formResetPassword.ConfirmPassword" ng-pattern="{{formResetPassword.Password}}" required/>
                    <span ng-if="formResetPassword.ConfirmPassword.$error">Пароли должны совпадать</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(formResetPassword.Password)" ng-disabled="formResetPassword.$invalid">Сохранить</button>
    <button class="btn" ng-click="cancel()">Отмена</button>
</div>