
        <div class="modal-header">
            <h3 class="modal-title">Экспертиза оборудования</h3>
        </div>
        <div class="modal-body">
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle" id="hrefStep1" ng-click="hrefClick($event)">1</a>
                        <p>Выбор типа оборудования</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled" id="hrefStep2" ng-click="hrefClick($event)">2</a>
                        <p>Выбор типа неисправностей</p>
                    </div>
                    
                    <div class="stepwizard-step">
                        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled" id="hrefStep4" ng-click="hrefClick($event)">3</a>
                        <p>Заключение</p>
                    </div>
                </div>
            </div>
            

            <div class="row setup-content" id="step-1" ng-show="showStepOne">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3 class="text-info">Выбор типа оборудования</h3>
                        <div class="form-group">
                            <info-equipment></info-equipment>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Тип оборудования</label>
                            <select class="form-control" name="TypeOfEquipment" ng-model="typeOfEquipmentSelected" ng-options="item.TypeId as item.Name for item in typeOfEquipment" ng-change="selectTypeOfEquipment()"></select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"
                                    popover-trigger="mouseenter" uib-popover="Период от момента постановки СВиОТ на учет и до истечения гарантийного срока эксплуатации СВиОТ">Гарантийный срок (лет) -{{Warranty}}</label>
                        </div>
                        <div class="form-group">
                            <label class="text-success popovers"
                                   popover-trigger="mouseenter" uib-popover="Период от момента окончания гарантийного срока эксплуатации до истечения срока, указанного как эффективный срок эксплуатации">Эффективный срок (лет)-{{Effective}}</label>
                        </div>
                        <div class="form-group">
                            <label class="text-warning popovers"
                                   popover-trigger="mouseenter" uib-popover="Период с момента окончания эффективного срока эксплуатации, до момента истечения срока, указанного как предельный срок эксплуатации">Предельный срок (лет)-{{Limit}}</label>
                        </div>
                        <div class="form-group">
                            <div role="alert" id="LifeTimeAlert">Общий срок использования (лет) - {{Lifetime | number:1}}</div>
                        </div>

                        
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2" ng-show="showStepTwo">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <info-equipment></info-equipment>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3>Выбор типа неисправностей </h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-md-4" ng-repeat="item in equipmentMalfunction">
                                        <input class="checkbox col-md-2" type="checkbox" checklist-model="checkedItem.equipmentFault" checklist-value="item" />{{item.Name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
           

            <div class="row setup-content" id="step-4" ng-show="showStepFour">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3>Заключение, результат экспертизы.. </h3>
                        <div class="form-group">
                            <info-equipment></info-equipment>
                        </div>
                        <input type="hidden" ng-model="expertise.ExpertiseId" />
                        <div class="form-horizontal">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="control-label">ID обращения</label>
                                    <input class="form-control" ng-model="expertise.RequestId" />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="control-label">Номер акта</label>
                                    <input class="form-control" ng-model="expertise.NumberExp" />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">

                                    <label class="control-label">Дата составления акта</label>
                                    <input type="text" uib-datepicker-popup="dd.MM.yyyy" class="form-control" ng-model="expertise.DateExp"
                                           close-text="Закрыть" current-text="Сегодня" clear-text="Очистить" is-open="openedDateExp"
                                           datepicker-options="dateOptions" ng-click="openDateExp()" />
                                </div>
                            </div>

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">



                                <div class="form-group">
                                    <div class="col-md-6">Оборудование исправно</div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsServiceableEquipment" ng-value="true" />
                                        <label class="control-label">Да</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsServiceableEquipment" ng-value="false" />
                                        <label class="control-label">Нет</label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-6">Необходим ремонт по гарантии</div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsWarrantyRepair" ng-value="true" />
                                        <label class="control-label">Да</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsWarrantyRepair" ng-value="false" />
                                        <label class="control-label">Нет</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">Возможен ремонт ООО "Сбербанк-Сервис"</div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsOrganizationRepair" ng-value="true" />
                                        <label class="control-label">Да</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsOrganizationRepair" ng-value="false" />
                                        <label class="control-label">Нет</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">Требуется поставка запчастей</div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsPartsSupply" ng-value="true" />
                                        <label class="control-label">Да</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsPartsSupply" ng-value="false" />
                                        <label class="control-label">Нет</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">Пригодно к эксплуатации</div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsServiceable" ng-value="true" />
                                        <label class="control-label">Да</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsServiceable" ng-value="false" />
                                        <label class="control-label">Нет</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">Рекомендуется к списанию</div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsForWriteoff" ng-value="true" />
                                        <label class="control-label">Да</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" ng-model="expertise.IsForWriteoff" ng-value="false" />
                                        <label class="control-label">Нет</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Результат экспертизы:</label>
                            <textarea rows="6" class="form-control" style="min-width: 100%" ng-model="expertise.Reason"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Заключение:</label>
                            <textarea rows="6" class="form-control" style="min-width: 100%" ng-model="expertise.Conclusion"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Акт составлен:</label>
                            <textarea rows="2" class="form-control" style="min-width: 100%" ng-model="expertise.Staff"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Работы приняты:</label>
                            <textarea rows="2" class="form-control" style="min-width: 100%" ng-model="expertise.Staff2"></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <!--form -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary nextBtn pull-right" type="button" ng-click="stepOne()" ng-show="showStepOne">Дальше</button>
            <button class="btn btn-primary nextBtn pull-right" type="button" ng-click="stepTwo()" ng-show="showStepTwo">Дальше</button>
            <button class="btn btn-primary pull-right" type="button" ng-click="stepThree()" ng-show="showStepThree">Дальше</button>
            <button class="btn btn-success nextBtn pull-right" type="button" ng-click="stepFour()" ng-show="showStepFour">Финиш!</button>
            
            <button class="btn" ng-click="cancel()">Отмена</button>
        </div>
    